$size:13px;
$font-size-buttons: 13px;
$font-primary:#0072CE;
$font-hover-primary:#005192;
$color-danger:#DD0021;
$color-danger-hover:#9D0017;
$color-success:#008A00;
$color-success-hover:#006200;
$color-secondary:#0072CE;
$color-secondary-hover:#005192;
$color-secondary-bg:#E6F1FA;
$color-secondary-bg-text:#E6F1FA;
$color-success-bg:#008A00;
$color-success-bg-hover:#006200;
$color-secondary-dabger-bg:#E6F1FA;
$color-text:#FFFFFF;
$color-row:#F3F3F3;
$color-text-black:black;
$color-warn-font:#FFFBE6;
$color-warn-font-text:#5B4E00;
$color-warn:#FB923C;
$color-success-font:#E6F3E6;
$color-success:#006200;
$color-danger-font:#FCE6E9;
$color-danger-font-text:#9D0017;
$body-color:#EFF3F8;
$tap-initial:#F6F6F6;
$color-title-1:#165EDB;
$color-title-2:#DEEEFF;
$color-header:#E6F1FA;
$color_black:#333333;
$color_bg_1:#EDF1F4;
$color_bg_2:#016BD2;
$color_bg_3:#1464C1;
$color_bg_4:#F7F7F7;
$color_bg_5:#22C55E;
$color_bg_6:#0071ce5d;
$color_bg_7:#adadadcb;
$color_bg8:#e6e6e65b;
$color_bg9:#8A8A8A;
$color_bg10:#E4F8F0;
$color_bg11:#EDF6FE;
$color_bg12:#426DD1;
$color_bg13:#FEFAE5;
$color_bg14:#C59037;
$color_bg15:#CB5147;
$color_bg16:#FFF4F2;
$color_bg17:#000000;
$color_bg18:#535F72;




